<div class="card">
  <div class="card-header text-center">Trade router: {{ tradeRoute?.SourceIsland.Name }} to
    {{ tradeRoute?.TargetIsland.Name }}</div>
  <div class="card-body d-flex flex-wrap justify-content-center">
    <div class="p-2" *ngFor="let product of tradeRoute?.Products">
      <div class="row justify-content-center align-items-center">
        <img [src]="productImage(product.productID)" class="img-anno-75 p-2" [tooltip]="productName(product.productID)">
      </div>
      <div class="input-group justify-content-center">
        <div class="input-group-prepend">
          <button class="btn btn-danger" (click)="subtractOne(product)">-</button>
        </div>
        <input class="countInput" class="input-60" aria-label="Count" [(ngModel)]="product.Amount" type="number"
          id="count" step="any" />
        <div class="input-group-append">
          <button class="btn btn-success" (click)="addOne(product)">+</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer btn-group">
    <button class="btn btn-primary" (click)="addProduct()">Add product</button>
    <button class="btn btn-danger" (click)="deleteTradeRoute()">Delete</button>
  </div>
</div>
