
  <div class="btn-group justify-content-center w-100">
    <button class="btn btn-success" (click)="addOldWorldFactory()">Add Old Factory</button>
    <button class="btn btn-success" (click)="addNewWorldFactory()">Add New Factory</button>
    <button class="btn btn-primary" (click)="editIsland()">Edit Island</button>
    <button class="btn btn-secondary" *ngIf="!island.populationHided" (click)="island.populationHided=true">Hide Population</button>
    <button class="btn btn-secondary" *ngIf="island.populationHided" (click)="island.populationHided=false">Show Population</button>
    <button class="btn btn-danger" (click)="removeIsland()">Remove Island</button>
  </div>
  <div class="d-flex flex-wrap justify-content-center" *ngIf="!island.populationHided">
    <div class="p-2" *ngFor="let population of island.populations">
      <app-population [population]="population" [houseDelta]="island.houseDelta" class="underDiv"></app-population>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="d-flex flex-wrap {{ layerBasedWidth }} align-content-start justify-content-center" *ngFor="let layerIndex of island.layerIndexes">
      <app-factory class="p-2" *ngFor="let factory of island.layerForIndex(layerIndex)" [factory]="factory"
        (removeEvent)="removeFactory(factory)">
      </app-factory>
    </div>
  </div>

  