<div class="card">
  <div class="card-header text-center" [ngStyle]="factory.getCardStyle()">{{ factory?.Name }}</div>
  <div class="card-body">
    <div class="row justify-content-center align-items-center">
      <img [src]="factory.Image" class="img-anno-75 p-2">
    </div>
    <div class="input-group justify-content-center w-100">
      <div class="input-group-prepend">
        <button class="btn btn-success" disabled tooltip="Real count">{{ factory.RealCount | number:'.0-2' }}</button>
      </div>
      <input class="input-60" aria-label="Count" [(ngModel)]="factory.Count" type="number"
        [disabled]="countModificationBlock" id="count" step="any" />
      <div class="input-group-append">
        <button class="btn {{ factory.ButtonStyle }}" disabled
          tooltip="Unused count">{{ factory.LeftCount | number:'.0-2' }}</button>
      </div>
    </div>
    <div class="btn-group justify-content-center p-2 w-100">
      <button class="btn btn-outline-primary" (click)="modifyFactory()"
        [disabled]="countModificationBlock">Modify</button>
      <button class="btn btn-outline-danger" (click)="deleteFactory()"
        [disabled]="countModificationBlock">Delete</button>
    </div>
  </div>
</div>
