<div class="modal-header">
  <h4 class="modal-title pull-left">Factory configuration</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="productivityUnput">Productivity</label>
    </div>
    <input id="productivityUnput" type="number" step="any" [(ngModel)]="productivity">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="stateSelector">Factory state</label>
    </div>
    <select id="stateSelector" [(ngModel)]="state">
      <option *ngFor="let availableState of availableFactoryStates()" [value]="availableState"> {{ availableState }}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputSelector1">Input #1</label>
    </div>
    <select id="inputSelector1" [(ngModel)]="inputs[0]">
      <option *ngFor="let product of products" [value]="product.ID"> {{ product.Name }}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputSelector2">Input #2</label>
    </div>
    <select id="inputSelector2" [(ngModel)]="inputs[1]">
      <option *ngFor="let product of products" [value]="product.ID"> {{ product.Name }}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputSelector3">Input #3</label>
    </div>
    <select id="inputSelector3" [(ngModel)]="inputs[2]">
      <option *ngFor="let product of products" [value]="product.ID"> {{ product.Name }}</option>
    </select>
  </div>
</div>
<div class="modal-footer">
  <div class="btn-group">
    <button class="btn btn-success" (click)="saveFactory()">Save</button>
    <button class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
  </div>
</div>
