<div class="d-flex flex-row w-100 h-100 justify-content-center align-self-center" *ngIf="globalBlock">
  <div class="p-2 align-self-center">
    <progressbar class="progress-striped active" [value]="loadingProgress" [max]="maxLoadingProgress" type="info">{{ loadingStep }}</progressbar>
  </div>
</div>
<div class="container-fluid" *ngIf="!globalBlock">
  <div class="row">
    <div class="col-auto btn-group mr-auto">
      <button class="btn btn-success" (click)="addIsland()" [disabled]="globalBlock">Add island</button>
      <button class="btn btn-primary" (click)="saveGame()" [disabled]="globalBlock">Save Game</button>
      <button class="btn btn-primary" (click)="loadGame()" [disabled]="globalBlock">Load Game</button>
      <button class="btn btn-danger" (click)="resetGame()" [disabled]="globalBlock">Reset Game</button>
    </div>
    <div class="col-auto align-self-end"><span>Anno1800 helper by SirEdvin {{ version }}</span></div>
  </div>
</div>
<tabset *ngIf="!globalBlock">
  <tab *ngFor="let island of islands" [heading]="island?.Name">
    <app-island [island]="island" (removeEvent)="removeIsland(island)"></app-island>
  </tab>
  <tab heading="Trade routes">
    <div class="btn-group">
      <button class="btn btn-success" (click)="createTradeRoute()">Add trade route</button>
    </div>
    <div class="container-fluid">
      <div class="row baseDiv">
        <app-trade-route *ngFor="let tradeRoute of tradeRoutes" [tradeRoute]="tradeRoute"
          (removeEvent)="removeTradeRoute(tradeRoute)" class="underDiv"></app-trade-route>
      </div>
    </div>
  </tab>
</tabset>
