<div class="card">
  <div class="card-header text-center">{{ population?.Name }}</div>
  <div class="card-body">
    <div class="row justify-content-center align-items-center">
      <img [src]="population.Image" class="img-anno-75 p-2">
    </div>
    <div class="input-group justify-content-center">
      <div class="input-group-prepend">
        <button class="btn btn-outline-danger" *ngIf="!promoteMode" (click)="removeHouses()">-
          {{ houseDelta }}</button>
        <button class="btn btn-outline-danger" *ngIf="promoteMode"
          [disabled]="population.promotionSource === undefined" (click)="discourageeHouses()">↓
          {{ houseDelta }}</button>
      </div>
      <input class="countInput" class="input-70" aria-label="Count" [(ngModel)]="population.HouseCount" type="number"
        id="count" step="any" />
      <div class="input-group-append">
        <button class="btn btn-outline-primary" *ngIf="!promoteMode" (click)="addHoused()">+ {{ houseDelta }}</button>
        <button class="btn btn-outline-primary" *ngIf="promoteMode"
          [disabled]="population.promotionSource === undefined" (click)="promoteHoused()">↑ {{ houseDelta }}</button>
      </div>
    </div>
  </div>
</div>
