/* You can add global styles to this file, and also import other style files */

.img-anno {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

.img-anno-75 {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    max-width: 75px;
}

.input-60 {
    width: 60px;
}

.input-70 {
    width: 70px;
}

.input-80 {
    width: 80px;
}


.w-32 {
    width: 32%;
}